<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="Anisha Dayma, Khushbu Jain, Paidhi Passi">
  <link rel="icon" href="#">

  <title>Wonderlust - Category</title>


  <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link href="static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


  <script src="static/js/ie-emulation-modes-warning.js"></script>

  <link href="static/carousel.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '308043099609099',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


</head>
<body>

	  <div class="navbar-wrapper">
	    <div class="container">

	      <nav class="navbar navbar-default navbar-fixed-top ">
	        <div class="container">
	          <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	              </button>
	            <a class="navbar-brand" href="/">Wonderlust</a>
	          </div>
	          <div id="navbar" class="navbar-collapse collapse">
	            <ul class="nav navbar-nav">
	              <li class="active"><a href="/">Home</a></li>
	              <li><a href="#about">State</a></li>
	              <li><a href="#contact">Destinations</a></li>


	            </ul>
	          </div>
	        </div>
	      </nav>

	    </div>
	  </div>
  <div class="container">
		<div class="row">
	    <div class="col-md-6">

	<form class="form-signin" action="{% url 'login' %}" method="post">
		<h2 class="form-signin-heading">Please sign in</h2>
		{% csrf_token %}{{form}}


	<button class="btn  btn-primary btn-block" type="submit" value="Login">Sign in</button>

</form>
<br />

<a href="{% url 'register' %}">Register</a>
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
