<h1>Register Here!</h1>
<form action="{% url 'register' %}" method="post"><br />{% csrf_token %}
	{{ form }} <br />
	<input type="submit" value="Register">
</form>
<br />
Already a user? <a href="{% url 'login' %}">Login</a>
