<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="Anisha Dayma, Khushbu Jain, Paidhi Passi">
  <link rel="icon" href="#">

  <title>Wonderlust - Category</title>


  <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link href="static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


  <script src="static/js/ie-emulation-modes-warning.js"></script>

  <link href="static/carousel.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


</head>

<body >


  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="/">Wonderlust</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% if request.user.is_authenticated %}
              <li class="active"><a href="#">Welcome {{user.username}}</a></li>
              <li><a href="#about">Wishlist</a></li>
              <li><a href="#contact">Recent</a></li>
            <li>


                <a href="{% url 'logout' %}">Logout</a>
              </li>
{% endif %}
            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>

<div class="container marketing"><br />
  {% if request.user.is_authenticated %}
  <div class="page-header">
    <h1>Hey {{user.username}}  | <small>Recommendations For You</small></h1>

  </div>
{% endif %}


  <!-- Code by me -->

  <div class="row">




      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://localhost:8000/media/img/listing/shimla-the-mall-road.jpg" alt="The Mall Road, Shimla,Himachal Pradesh">
          <div class="caption">
            <h3>The Mall Road, Shimla,Himachal Pradesh</h3>

            <p><a href="http://localhost:8000/filter/12/1/175/" class="btn btn-primary" role="button" target="-blank">Explore Now</a> </p>
          </div>
        </div>


      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://localhost:8000/media/img/listing/manali_park.jpg" alt="Manali Wildlife Sanctuary, Manali,Himachal Pradesh">
          <div class="caption">
            <h3>Manali Wildlife Sanctuary, Manali,Himachal Pradesh</h3>

            <p><a href="http://localhost:8000/filter/12/2/184/" class="btn btn-primary" role="button" target="-blank">Explore Now</a> </p>
          </div>
        </div>


      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://localhost:8000/media/img/listing/ganga-bazaar.jpg" alt="Ganga market, ITANGAR">
          <div class="caption">
            <h3>Ganga market</h3>

            <p><a href="http://localhost:8000/filter/5/1/65/" class="btn btn-primary" role="button" target="-blank">Explore Now</a> </p>
          </div>
        </div>


      </div>




  </div>

  </div>



  </div>
