<div class="row">
  {% for i in place %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{i.img.url}}" alt="{{i.place_name}}">
      <div class="caption">
        <h3> {{i.place_name}}, {{i.city}}</h3>

        <p><a href="{% url 'fourth' states_id categories_id i.id %}" class="btn btn-primary" role="button">Checkout Now</a> </p>
      </div>
    </div>

  </div>
  {% endfor %}

</div>
