<!DOCTYPE html>
<html lang="en">
{% load recommends %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="Anisha Dayma, Khushbu Jain, Paidhi Passi">
  <link rel="icon" href="#">

  <title>Wonderlust</title>


  <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">


  <link href="static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


  <script src="static/js/ie-emulation-modes-warning.js"></script>

  <link href="static/carousel.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="static/train/train.js"></script>

</head>

<!-- Navigation Bar by AP -->
<!-- Here in Body Tag called AngularJS APP and Controller -->

<body ng-app="train" ng-controller="trainCtrl">
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="#">Wonderlust</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#state">State</a></li>
              <li><a href="#destination">Destinations</a></li>
              <li><a href="/login">Login</a></li>
              <li><a href="/register">Destinations</a></li>

            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>


  <!-- Slider Start From Here -->
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="first-slide" src="static/img/train1.jpg" alt="First slide">
        <div class="container">
          <div class="carousel-caption well well-lg">
            <h1><font color="black">Checkout Trains for your Destination</font></h1><br />
            <!-- Angularjs Form Applied here to call Railway API -->
            <div class="col-xl-12">
              <input type="text" class="form-control" ng-model="sourceCode" placeholder="Source Station Code" /><br />
              <input type="text" class="form-control" ng-model="destinationCode" placeholder="Destination Station Code" /> <br />
              <input type="date" class="form-control date" ng-model="date" /><br />
              <button type="button" ng-click="callBetweenStationApi(sourceCode,destinationCode,date)" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">Search Now</button>
            </div>
            <!-- Angularjs Form  Close Here -->

          </div>
        </div>
      </div>


    </div>

  </div>
  <!-- Slider End Here -->


  <!-- Modal start by ap -->
  <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Trains</h4>
        </div>
        <div class="modal-body">


          <ul class="list-group">


            <span ng-repeat-start="x in trainSearchResults" class="list-group-item list-group-item-success">

             Train Name : <b>{% verbatim %} {{x.name}}{% endverbatim %}</b></span>


            <li class="list-group-item list-group-item-warning">Source Departure Time :{% verbatim %} {{x.src_departure_time}} {% endverbatim %}</li>
            <li class="list-group-item list-group-item-warning">Destination Arrival Time : {% verbatim %} {{x.dest_arrival_time}}{% endverbatim %}</li>
            <li class="list-group-item list-group-item-warning">Train NO. : {% verbatim %} {{x.number}}{% endverbatim %}</li>
            <li class="list-group-item list-group-item-danger">Travel Time : {% verbatim %} {{x.travel_time}}{% endverbatim %}</li>
            </br>
            <li style="list-style:none" ng-repeat-end></li>

          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Search Again</button>
        </div>
      </div>
    </div>
  </div>

  <!-- model end here -->




  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="static/img/w1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Select State</h2>

      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="static/img/w1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Select Category</h2>

      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="img-circle" src="static/img/w1.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Enjoy Destination</h2>

      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <br /><br />
    <div class="page-header">
      <h1>Famous Indian State Destination  | <small>Checkout Now</small></h1>
    </div>
    <!-- Code by me -->
    <div class="row">
      {% for i in state %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{i.img.url}}" alt="{{i.state_name}}">
          <div class="caption">
            <h3>{{i.state_name}}</h3>

            <p><a href="{% url 'second' i.id %}" class="btn btn-primary" role="button">Explore Now</a> </p>
          </div>
        </div>

      </div>
      {% endfor %}

    </div>




    <!-- Code by me ended -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">




    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 WonderLust by AKPS, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div>
  <!-- /.container -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="static/dist/js/bootstrap.min.js"></script>
  <script src="static/assets/js/vendor/holder.min.js"></script>
  <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
