<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="Anisha Dayma, Khushbu Jain, Paidhi Passi">
  <link rel="icon" href="#">

  <title>Wonderlust - Category</title>


  <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


  <link href="static/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">


  <script src="static/js/ie-emulation-modes-warning.js"></script>

  <link href="static/carousel.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


</head>

<body >
  <div class="navbar-wrapper">
    <div class="container">

      <nav class="navbar navbar-default navbar-fixed-top ">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            <a class="navbar-brand" href="/">Wonderlust</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">State</a></li>
              <li><a href="#contact">Destinations</a></li>

            </ul>
          </div>
        </div>
      </nav>

    </div>
  </div>

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->



    <br /><br />
    <div class="page-header">
      <h1>Your Destination  | <small>Explore Now</small></h1>
    </div>
    <!-- Code by me -->
    <div class="row">
      {% for i in place %}
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="{{i.img.url}}" alt="{{i.place_name}}">
          <div class="caption">
            <h3> {{i.place_name}}, {{i.city}}</h3>

            <p><a href="{% url 'fourth' states_id categories_id i.id %}" class="btn btn-primary" role="button">Checkout Now</a> </p>
          </div>
        </div>

      </div>
      {% endfor %}

    </div>


    <!-- Code by me ended -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">




    <!-- FOOTER -->
    <footer>
      <p class="pull-right"><a href="#">Back to top</a></p>
      <p>&copy; 2016 WonderLust by AKPS, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

  </div>
  <!-- /.container -->



  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery.min.js"><\/script>')</script>
  <script src="static/dist/js/bootstrap.min.js"></script>
  <script src="static/assets/js/vendor/holder.min.js"></script>
  <script src="static/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
  </html>
