<html>
<head>
  <title>Train Search</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/static/js/train.js"></script>
  <script type="text/javascript"></script>
</head>
<body ng-app="train" ng-controller="trainCtrl">


  <div>
   Source Station Code : <input type="text" ng-model="sourceCode"/>
   Destination Station Code : <input type="text" ng-model="destinationCode"/>
   Date : <input type = "date" ng-model="date"/>
   <button ng-click="callBetweenStationApi(sourceCode,destinationCode,date)">Search</button>
 </br>
    <b>Results : </b>
   <ul>
     <span ng-repeat-start="x in trainSearchResults">Train Name : <b>{{x.name}}</b></span>
     <li>Source Departure Time : {{x.src_departure_time}}</li>
     <li>Destination Arrival Time : {{x.dest_arrival_time}}</li>
     <li>Train NO. : {{x.number}}</li>
     <li>Travel Time : {{x.travel_time}}</li>
     </br>
    <li style="list-style:none" ng-repeat-end></li>
   </ul>
  </div>
</body>
</html>
